############################
# NPM files
############################
**/node_modules
**/bower_components
node_modules
bower_components
npm-debug.log


############################
# Temp files
############################
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
Icon?
nbproject


############################
# Report files
############################
coverages
coverage
reports
report
lib-cov
html-report
nohup.out
out
logs
log


############################
# Other
############################
.node_history
.svn
dev

idea/
idea
bin/
bin
obj/
obj
sln/
sln
artifacts/
artifacts
.vs/
node_modules/

.babelrc
.editorconfig
.eslintrc
.yo-rc.json
package_back.json

/*.sln
/*.suo
/*.user