@charset "utf-8";
/*  --------------------
 *  Page style - Quark
 *  (c) Kingcean Tuan, 2014.
 *
 *  File  pages.css
 *  Description  Page CSS.
 *  Owner  Kingcean Tuan <kingcean@live.com>
 *  --------------------  */
.ali-page body.ali-page-l-show {
  color: #CCC;
  background-color: #333;
}
body.ali-page-l-show {
  color: #CCC;
  background-color: #222;
}
body.ali-page-l-show a,
body.ali-page-l-show .ali-app-hub-home-site .ali-page-l-show a:visited {
  color: #24a0ff;
}
body.ali-page-l-show a:hover {
  color: #ffa000;
}
body.ali-page-l-show a:active {
  color: white;
}
body.ali-page-l-show #ali_head {
  background-color: rgba(0, 0, 0, 0.9);
}
body.ali-page-l-show #ali_head_title a {
  color: #24a0ff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.ali-page-l-show ul#ali_head_menu > li a,
body.ali-page-l-show ul#ali_head_menu > li a:visited,
body.ali-page-l-show ul#ali_head_user > li a,
body.ali-page-l-show ul#ali_head_user > li a:visited {
  color: #CCC;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.ali-page-l-show ul#ali_head_menu > li a:hover,
body.ali-page-l-show ul#ali_head_user > li a:hover {
  color: #24a0ff;
}
body.ali-page-l-show ul#ali_head_menu > li.ali-state-active-t.ali-container-menu {
  background-color: rgba(80, 80, 80, 0.6);
}
body.ali-page-l-show .ali-panel-split-len-2.ali-panel-split-t-page > table > tbody > tr > td:first-child {
  border-right-color: #444;
}
body.ali-page-l-show .ali-panel-split-len-2.ali-panel-split-t-page > table > tbody > tr > td:first-child > div.ali-container-main > div {
  color: #666;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td:first-child > div.ali-container-main > ul > li {
  color: #CCC;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td:first-child > div.ali-container-main > ul > li:hover {
  color: #24a0ff;
  background-color: rgba(120, 120, 120, 0.2);
}
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > code,
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > section > code {
  background: rgba(120, 120, 120, 0.1);
}
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > code > code {
  display: block;
}
body.ali-page-l-show .ali-panel-split-len-2.ali-panel-split-t-page > table > tbody > tr > td.ali-container-main > div.ali-container-main > code.ali-panel-code-customized,
body.ali-page-l-show .ali-panel-code-customized {
  padding: 0;
  display: block;
}
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > .ali-x-section-code,
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > section > .ali-x-section-code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 4px;
  display: block;
}
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > .ali-x-section-code:hover,
body.ali-page-l-show .ali-panel-split-t-page.ali-panel-split-len-2 > table > tbody > tr > td.ali-container-main > div.ali-container-main > section > .ali-x-section-code:hover {
  border: 1px solid rgba(128, 128, 128, 0.3);
}
body.ali-page-l-show .ali-x-section-code,
body.ali-page-l-show code {
  color: #DDD;
  font-family: "Cascadia Code", consolas, monospace;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-comment,
body.ali-page-l-show code .ali-x-code-comment {
  color: green;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-string,
body.ali-page-l-show code .ali-x-code-string {
  color: salmon;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-tagname,
body.ali-page-l-show code .ali-x-code-tagname,
body.ali-page-l-show .ali-x-section-code .ali-x-code-keyword,
body.ali-page-l-show code .ali-x-code-keyword {
  color: dodgerblue;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-attr,
body.ali-page-l-show code .ali-x-code-attr {
  color: skyblue;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-class,
body.ali-page-l-show code .ali-x-code-class,
body.ali-page-l-show .ali-x-section-code .ali-x-code-number,
body.ali-page-l-show code .ali-x-code-number {
  color: lightseagreen;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-enum,
body.ali-page-l-show code .ali-x-code-enum,
body.ali-page-l-show .ali-x-section-code .ali-x-code-interface,
body.ali-page-l-show code .ali-x-code-interface {
  color: lightgreen;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-namespace,
body.ali-page-l-show code .ali-x-code-namespace {
  color: skyblue;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-bind,
body.ali-page-l-show code .ali-x-code-bind {
  color: fuchsia;
}
body.ali-page-l-show .ali-x-section-code .ali-x-code-unknown,
body.ali-page-l-show code .ali-x-code-unknown {
  color: #AAA;
}
body.ali-page-l-show .ali-x-section-code div.ali-x-code-unknown,
body.ali-page-l-show code div.ali-x-code-unknown {
  padding-left: 60px;
}
body.ali-page-l-show h1::selection,
body.ali-page-l-show h2::selection,
body.ali-page-l-show h3::selection,
body.ali-page-l-show h4::selection {
  background-color: rgba(128, 128, 128, 0.3);
}
body.ali-page-l-show .ali-x-section-code::selection,
body.ali-page-l-show .ali-x-section-code > *::selection,
body.ali-page-l-show .ali-x-section-code > * > *::selection,
body.ali-page-l-show .ali-x-section-code > * > * > *::selection {
  background-color: rgba(128, 128, 128, 0.3);
}